
#modal {
    height: 30vh;
    width: 70vw;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.18);
    left: 125px;
    top: 200px;
    
   align-items: center;
   
}
h1 {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 75px;
}
#empty {
    display: flex;
    
}
.counting{
    background-color: rgba(247, 247, 245, .2);
    width: 120px;
    float: right;
}
.score{
    background-color: rgba(238, 238, 214, 0.344);
    width: 120px;
    float: right;
}
.count {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    
}
.display {
    height: 120px;
    width: 250px;
    background-color:#d2d6d3;
    border-radius: 10%;
}
.display p{
    font-size: 35px;
    padding-left: 15px;
}
.counter {
   border: 1px solid #5d6961;
    padding:2px
}
#hole-container ul {
    margin-top: 15vh;
    list-style: none;
    display: flex;
    justify-content: center;
    flex: row;
    align-items: center;
}
.holes {
    margin: 0 12%
}
li {
    margin-top: 20px;
    list-style: none;
    position: relative;
}
li .popUp {
    position: absolute;
    left: 0;
    top: -20px;
}
.molees {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.starter {
    font-size: 50px;
    border-radius: 15px;
    
}
#wrap {
    margin: 10px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: rgba(161, 159, 159, 0.1);
}